<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<p class="titre">Répartition des accidents en fonction du genre</p>
<div class="container">
  <div class="description">
    <p>
      Ce graphique en secteurs illustre la répartition des accidents en fonction du sexe des usagers impliqués. Il permet d'analyser l'impact du sexe sur la survenue des accidents et d'identifier les différences entre les groupes.
    <br> Le nombre total d'accidents impliquant des <b>hommes (sexe = 1) est de 278 966, soit 73,9%</b> des accidents. Le nombre total d'accidents impliquant des <b>femmes (sexe = 2) est de 96 187, soit 25,5%</b> des accidents. Pour 2 592 accidents (<b>0,7%</b>), le sexe n'est pas renseigné (sexe = -1).
      </p>
  </div>
    <div class="pie-chart-container">
      <svg width="400" height="400"></svg>
    </div>
  </div>
