<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<p class="titre">Répartition des accidents en fonction du type de trajet</p>
<div class="pie-chart-container"></div>
<div class="description">
    <p>Ce graphique détaille la répartition des accidents de la route en fonction du type de trajet effectué par les conducteurs. Il est clair que la majorité des accidents se produisent lors des promenades loisir, représentant <b>39,3%</b> du total.

Les trajets domicile - travail ne sont pas loin derrière, représentant <b>21,0%</b> des accidents. C'est suivi par l'utilisation professionnelle qui constitue <b>15,6%</b> des cas.

La catégorie "Autres" englobe <b>11,9%</b> des accidents. Les courses ou achats contribuent à <b>6,8%</b> des accidents, et enfin, les trajets domicile - école ont le taux le plus bas, soit <b>5,4%</b>.

Il est intéressant de noter que bien que les promenades loisir soient la cause la plus fréquente des accidents, d'autres types de trajets sont également impliqués à des degrés divers.</p>

          </div>


