<div id="scatterplot-container">

    <h3 id="scatterplot-title">Analyse des accidents en fonction de l'année de naissance et de la gravité</h3>
    <p id="scatterplot-description">
      Ce graphique en nuage de points présente une analyse des accidents en fonction de l'année de naissance des individus impliqués et de la gravité de ces accidents. L'objectif de ce graphique est d'explorer les tendances et les corrélations potentielles entre l'âge des personnes et la gravité des accidents auxquels elles sont impliquées.
    </p>
    <div id="scatterplot-loader" class="loader"></div>
    <div id="scatterplot"></div>
    </div>
