<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<p class="titre">Répartition des accidents en fonction du type de gravité</p>
<div class="pie-chart-container"></div>
<div class="description">
    <p>Ce graphique expose la répartition des accidents de la route en fonction de la gravité des conséquences pour les personnes impliquées. Il est évident que la majorité des personnes impliquées dans ces accidents en sortent indemnes, représentant <b>47,2%</b> du total.

Les blessures légères constituent la deuxième catégorie la plus fréquente, avec <b>34,7%</b> des cas. Ensuite, <b>15,6%</b> des accidents se traduisent par des blessures plus graves nécessitant une hospitalisation.

Malheureusement, <b>2,5%</b> des accidents de la route ont entraîné le décès de l'individu concerné.

Il est important de prendre en compte que, malgré le fait qu'une grande proportion d'individus se retrouvent indemnes, une part significative des accidents entraîne des blessures, légères ou graves, et même dans certains cas, la mort.</p>


          </div>


