<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <p class="titre">Graphique des accidents par sexe</p>
<div class="chart-container">
  <div class="bar-chart-container"></div>
</div>
<p class="description">
  Ce graphique montre la répartition des accidents en fonction du sexe des usagers impliqués. Le nombre total d'accidents impliquant des <strong>hommes (sexe = 1)</strong> est de <strong>278 966</strong>, soit <strong>73,9%</strong> des accidents. Le nombre total d'accidents impliquant des <strong>femmes (sexe = 2)</strong> est de <strong>96 187</strong>, soit <strong>25,5%</strong> des accidents. Pour <strong>2 592</strong> accidents (0,7%), le sexe n'est pas renseigné (sexe = -1).
</p>

