<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>

<p class="titre">Accidents en fonction des conditions d'éclairage</p>
<div class="container">
  <div class="description">
    <p>
      Ce graphique en secteurs illustre la répartition des accidents en fonction des conditions d'éclairage.
      Il permet d'analyser l'impact de la luminosité sur la survenue des accidents et d'identifier les conditions d'éclairage les plus problématiques. Les résultats obtenus sont les suivants :
      <br><br>
      - <strong>Plein jour (Catégorie 1)</strong> : 262 075 accidents, soit <strong>69,38%</strong> du total.
      <br>
      - <strong>Crépuscule ou aube (Catégorie 2)</strong> : 24 885 accidents, soit <strong>6,59%</strong> du total.
      <br>
      - <strong>Nuit sans éclairage public (Catégorie 3)</strong> : 33 649 accidents, soit <strong>8,91%</strong> du total.
      <br>
      - <strong>Nuit avec éclairage public non allumé (Catégorie 4)</strong> : 2 989 accidents, soit <strong>0,79%</strong> du total.
      <br>
      - <strong>Nuit avec éclairage public allumé (Catégorie 5)</strong> : 54 142 accidents, soit <strong>14,33%</strong> du total.
    </p>
  </div>
  <div class="pie-chart-container">
    <svg width="400" height="400"></svg>
  </div>
  </div>
