<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<p class="titre">Répartition des accidents en fonction de la catégorie du véhicule</p>
<div class="pie-chart-container"></div>
<div class="description">
    <p>Ce graphique illustre la répartition des accidents de la route en fonction des différentes catégories de véhicules impliqués. Les données révèlent que la majorité des accidents (soit <b>67,2%</b>) impliquent des véhicules utilitaires. En deuxième position, nous avons les véhicules à 2/3 roues motorisés qui représentent <b>26,9%</b> des accidents.

    Le petit véhicule pouvant être conduit sur la chaussée constitue une plus petite proportion, avec <b>4,8%</b> des accidents. Les accidents impliquant des transports en commun sont encore moins fréquents, avec seulement <b>1,1%</b> des cas.
    
    Il est à noter que, même si les véhicules utilitaires et les 2/3 roues motorisés représentent une grande partie des accidents, d'autres catégories de véhicules sont également impliquées, bien que dans une moindre mesure.</p>
          </div>


