<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<div class="chart-container-box">
  <p class="titre">{{ title }}</p>
  <svg width="500" height="500"></svg>
</div>
    <p class="des">
      Ce graphique présente la répartition des accidents en fonction de l'âge des personnes impliquées. Les tranches d'âge avec le plus grand nombre d'accidents sont les <strong>25-29 ans (13.2%)</strong>, les <strong>30-34 ans (12.0%)</strong> et les <strong>35-39 ans (11.4%)</strong>. Les groupes d'âge avec le moins d'accidents sont les <strong><15 ans (0.1%)</strong> et les <strong>15-19 ans (1.4%)</strong>. Les personnes âgées de <strong>>75 ans</strong> représentent <strong>6.0%</strong> des accidents, tandis que celles âgées de <strong>70-74 ans</strong> représentent <strong>3.1%</strong> des accidents.
    </p>
