<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<ul>
  <li style="margin: 0; padding: 0"><a routerLink=""><img src="assets/logo-withoutbg.png" class="img"></a></li>
  <li><a routerLink=""> <em class="fa fa-fw fa-home" style="padding: 20px"></em>Home</a></li>
  <li><a routerLink="itinerary"> <em class="fa fa-fw fa fa-map" style="padding: 20px"></em>Itinéraire</a></li>
  <li><a routerLink="map"> <em class="fa fa-map-signs" style="padding: 20px"></em>Map View</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn"><em class="fa fa-fw fa-signal" style="padding: 20px"></em>Statistiques</a>
    <div class="dropdown-content">
  <a routerLink="graph">Accident</a>
  <a routerLink="graph-cam-age">Age</a>
  <a routerLink="graph-cam-sexe">Sexe</a>
  <a routerLink="graph-bar">Sexe</a>
  <a routerLink="graph-cam-luminosite">Luminosité</a>
  <a routerLink="graph-cam-meteo">Météo</a>
  <a routerLink="graph-cam-catv">Catv</a>
  <a routerLink="graph-cam-trajet">Trajet</a>
  <a routerLink="graph-cam-grav">Grav</a>

    </div>
  </li>
</ul>

