<link href='https://fonts.googleapis.com/css?family=Londrina Outline' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<p class="titre">Répartition des accidents en fonction des conditions météorologiques</p>
<div class="pie-chart-container"></div>
<div class="description">
        <p>Ce graphique représente la répartition des accidents de la route en fonction des différentes conditions météorologiques. Les données montrent que <strong>la majorité des accidents (79,7%) se produisent par temps normal</strong>. Ensuite, les conditions météorologiques les plus fréquentes sont <strong>la pluie légère (10,9%)</strong>, suivie de près par <strong>le temps couvert (3,7%)</strong> et <strong>le temps éblouissant (1,8%)</strong>. Les autres conditions telles que <strong>la pluie forte, la neige-grêle, le brouillard-fumée, le vent fort-tempête et autres sont beaucoup moins fréquentes, représentant ensemble moins de 5% des accidents de la route</strong>.</p>
      </div>


